/* Colors and Fonts */

body{
  background: #EBEBEB;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color:  #7d7d7d;
  font-size: 15px;
  line-height: 1.6em;
}

h1, h2, h3{
  font-family: 'Montserrat', sans-serif;
}

h1{
  color: #5fcf80;
  font-size: 22px;
}

h2{
  font-size: 18px;
  font-weight: 300;
}

h3{
  font-size: 16px;
  font-weight: 300;
}

a{
  color: #ccc;
  text-decoration: none;
}

a:hover{
  color: #5fcf80;
  text-decoration: none;
}

table{
  font-weight: 300;
  font-size: 15px;
  line-height: 1.6em;
  font-family: 'Open Sans', sans-serif;
}

.container {
  width: 500px;
  margin: 0 auto;
}

/* card ****************************************/
.card {
  background:white;
  border-radius:4px;
  box-shadow: 1px 1px 2px #b3b3b3;
  margin-bottom:20px;
  padding:20px;
}

.text-center {
  text-align:center;
}

/* profile ****************************************/
#img-profile {
  border:3px solid #CCCCCC;
  height:100px;
  width:100px;
}

.img-circle {
  border-radius:50%;
}

.list-inline li i {
  font-size:25px;
}

#profile a:hover{
  color: white;
  background: #408c55;
  text-decoration: none;
}

/* profile img ****************************************/
.btn-red {
  background-color:#5fcf80;
  border-radius:4px;
  color:white;
  font-weight:500;
  padding:10px;
}

/* list ****************************************/
.list-inline {
  padding-left:0;
}

.list-inline li {
  display:inline-block;
  padding:20px;
}

.text-center {
  text-align:center;
}

/* movies ****************************************/
#movies img {
  width:80px;
}

#movies {
  font-size:15px;
  font-weight:300;
  line-height:1.5em;
}

#movies p, #movies h3{
  text-align:left;
}

#movies td {
  padding:10px;
}
